body
{
    margin-top: -20px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
}

#tela_inteira
{
    position: absolute;
    background-color: #253239;  
    width: 100.8%;
    height: 100%;
}

#barra_navegacao
{
    width: 80%; 
    height: 80px; 
    background-color: #1A2327;
    border-radius: 0px 0px 20px 20px;
}

#imagem
{
    margin-left: 10px;
    margin-right: 10px;
    
}

#filtro
{
    border-width: 0px;
    border-color: #242e33;
}

#foto_perfil
{
    width: 100px;
    height: 100px;
}

#quadrado
{
    background: #1A2327;
    width: 200px;
    height: 170px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
    color: white;

}
#barra_pesquisa
{
    border-style: none;

}

#barra_pesquisa_botao
{
    border-style: solid;

}




/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #253239;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #1A2327;    /* color of the scroll thumb */
    border-radius: 50px;       /* roundness of the scroll thumb */

  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0d1214;
  }