body
{
    background-color: #253239;
        margin-top: -20px;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
}



#texto_iniciar
{
    position: absolute;
    height: 2%;
    left: 10%;
    top: 10%;
    color: #9A9A9D;

}

#barradejogos
{
    position: absolute;
    height: 5%;
    left: 12%;
    top: 30%;

}

#retangulodomeio
{
    background-color: #1A2327;
    position: absolute;
    width: 43%;
    height: 50%;
    top: 20%;
    left: 23%;
    border-radius: 20px;
}

#retangulodadireita
{
    background-color: #1A2327;
    position: absolute;
    width: 23%;
    height: 75%;
    top: 20%;
    left: 70%;
    border-radius: 20px;
}

#imagens    
{
    margin: 5px;
}

#primeiroretangulopequeno
{
    background-color: #1A2327;
    position: absolute;
    width: 13%;
    height: 17%;
    top: 73%;
    left: 23%;
    border-radius: 20px;
}

#segundoretangulopequeno

{
    background-color: #1A2327;
    position: absolute;
    width: 13%;
    height: 17%;
    top: 73%;
    left: 38%;
    border-radius: 20px;
}

#terceiroretangulopequeno
{
    background-color: #1A2327;
    position: absolute;
    width: 13%;
    height: 17%;
    top: 73%;
    left: 53%;
    border-radius: 20px;
}

#primeiroretangulopequenodadireita
{
    background-color: #13191C;
    position: absolute;
    width: 85%;
    height: 7%;
    top: 69%;
    left: 9%;
    border-radius: 20px;
}

#segundoretangulopequenodadireita
{
    background-color: #13191C;
    position: absolute;
    width: 85%;
    height: 7%;
    top: 79%;
    left: 9%;
    border-radius: 20px;
}

#terceiroretangulopequenodadireita
{
    background-color: #3B0AFF;
    position: absolute;
    width: 85%;
    height: 7%;
    top: 89%;
    left: 9%;
    border-radius: 20px;
}

#tela_inteira
{
    position: absolute;
    background-color: #253239;  
    width: 100.8%;
    height: 100%;
}



#imagem
{
    margin-left: 10px;
    margin-right: 10px;
    
}

#filtro
{
    border-width: 0px;
    border-color: #242e33;
}

#foto_perfil
{
    width: 100px;
    height: 100px;
}

#quadrado
{
    background: #1A2327;
    width: 200px;
    height: 170px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
    color: white;

}





/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #253239;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #1A2327;    /* color of the scroll thumb */
    border-radius: 50px;       /* roundness of the scroll thumb */

  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0d1214;
  }